<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Person Demographics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
 </head>
<body>
<div class = "page-header">
   
   <h1>
      Home 
   </h1>
   
</div>

<p><a href="/form">New Person</a></p>
<p><a href="/list">List All</a></p>
<div Style="color:red;" th:text="${text}"></div>
</body>
</html>