<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Person Demographics</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="page-header">

		<h1>New Person</h1>

	</div>
	<p>
		<a href="/">Home</a>
	</p>
	<p>
		<a href="/form">New Person</a>
	</p>

	<div th:if="${persons.isEmpty()}">No Records have been created</div>

	<div th:if="${not persons.isEmpty()}" >
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>PPS</th>
					<th>Date of Birth</th>
					<th>Phone Number</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="person : ${persons}">
					<td><div th:text="${person.name}"></div></td>
					<td><div th:text="${person.PPS}"></div></td>
					<td><div th:text="${person.birth}"></div></td>
					<td><div th:text="${person.phone}"></div></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>